[Unit]
Description=Apache Kafka Connect
Requires=kafka.service network.target remote-fs.target
After=kafka.service network.target remote-fs.target
ConditionPathExists=/etc/kafka/connect-standalone.properties

[Service]
Type=simple
PIDFile=/var/run/kafka-connect.pid
User=daemon
Group=daemon
ExecStart=/usr/bin/connect-standalone /etc/kafka/connect-standalone.properties
ExecStop= kill `cat /var/run/kafka-connect.pid`
Restart=always
SyslogIdentifier=kafka-connect

[Install]
WantedBy=multi-user.target
