[Unit]
Description=Apache Kafka Schema Registry
Requires=kafka.service network.target remote-fs.target
After=kafka.service network.target remote-fs.target
ConditionPathExists=/etc/schema-registry/schema-registry.properties

[Service]
Type=simple
PIDFile=/var/run/schema-registry.pid
User=daemon
Group=daemon
ExecStart=/usr/bin/schema-registry-start /etc/schema-registry/schema-registry.properties
ExecStop=/usr/bin/schema-registry-stop
Restart=always
SyslogIdentifier=schema-registry

[Install]
WantedBy=multi-user.target
