[Unit]
Description=Apache Zookeeper
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=/etc/kafka/zookeeper.properties

[Service]
Type=simple
PIDFile=/var/run/zookeper.pid
User=daemon
Group=daemon
ExecStart=/user/bin/zookeeper-server-start /etc/kafka/zookeeper.properties
ExecStop=/user/bin/zookeeper-server-stop
Restart=always
SyslogIdentifier=zookeeper

[Install]
WantedBy=multi-user.target
