[Unit]
Description=Apache Kafka Connect
Requires=kafka.service network.target remote-fs.target
After=kafka.service network.target remote-fs.target
ConditionPathExists=/etc/kafka/connect-distributed.properties

[Service]
Type=simple
PIDFile=/var/run/kafka-connect.pid
User=cp-kafka
Group=confluent
ExecStart=/usr/bin/connect-distributed /etc/kafka/connect-distributed.properties
ExecStop= kill `cat /var/run/kafka-connect.pid`
Restart=always
SyslogIdentifier=kafka-connect

[Install]
WantedBy=multi-user.target
